<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div>
        <a href="/article/create">Article 등록</a>
        <form th:action="@{/article/list}">
            <input type="text" id="keyword" name="keyword">
            <button type="submit">찾기</button>
        </form>
    </div>
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articleList}">
            <td th:text="${article.id}"></td>
            <td>
                <a th:href="@{|/article/detail/${article.id}|}" th:text="${article.title}"></a>
            </td>
            <td th:text="${article.createDate}"></td>
        </tr>
        </tbody>
    </table>
</div>
</html>