<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h3>
        Article detail 페이지
    </h3>
    <div>
        <span>제목</span>
        <div th:text="${article.title}" name="title"></div>
        <span>내용</span>
        <div th:text="${article.content}" name="content"></div>
    </div>
    <div>
        <a th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
           th:href="@{|/article/modify/${article.id}|}">수정</a>
        <a th:if="${article.author != null and #authentication.getPrincipal().getUsername() == article.author.username}"
           th:href="@{|/article/delete/${article.id}|}">삭제</a>
    </div>
    <a th:href="@{/article/list}">Article 목록</a>
</div>
</html>