<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <form th:action="@{/user/signup}" method="post">
        <div>
            <div>
                <span>사용자 ID</span>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <span>닉네임</span>
                <input type="text" id="nickname" name="nickname">
            </div>
            <div>
                <span>비밀번호</span>
                <input type="text" id="password1" name="password1">
            </div>
            <div>
                <span>비밀번호 확인</span>
                <input type="text" id="password2" name="password2">
            </div>
        </div>
        <button type="submit">회원가입</button>
    </form>
</div>
</html>